:root {
  --mainBgColor: #f9f2ed;
  --mainBlue: #4d559f;
  --mainOrange: #de5e3c;
}

.font-s {
  font-size: 0.8rem;
}

.font-m {
  font-size: 1rem;
}

.font-ml {
  font-size: 1.1rem;
}

.font-l {
  font-size: 1.3rem;
}

.font-ll {
  font-size: 1.6rem;
}

.font-xl {
  font-size: 2rem;
}

/* react */
.blue {
  background-color: rgb(211, 229, 239);
}

/* 상태관리 */
.rosybrown {
  background-color: rgb(255, 226, 221);
}

/* 스타일링 */
.violet {
  background-color: rgb(234, 220, 241);
}

/* type */
.green {
  background-color: rgb(219, 244, 219);
}

/* 나머지 */
.yellow {
  background: rgb(253, 236, 200);
}

.label {
  padding: 2px 6px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 3px;
}

.hightligher {
  color: var(--mainOrange);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
}
