.itemTitle {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.itemTitle span {
  display: block;
}

.itemTitle .period {
  font-weight: 400;
  font-size: 14px;
  color: rgb(160, 159, 159);
}

.itemWrapper {
  margin-bottom: 1rem;
  /* background-color: rebeccapurple; */
}

.accordionItem {
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  height: auto;
}

.accordionItem.collapsed {
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

/* .accordion-title {
  font-weight: 600;
  cursor: pointer;
  color: #666;
  padding: 0.7em 1.5em;
  border: solid 1px gray;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainBgColor);
} */

/* .accordion-title:hover,
.accordion-title.open {
  color: var(--mainBlue);
  font-weight: bold;
} */

/* .accordion-title:hover .period,
.accordion-title.open .period {
  color: var(--mainBlue);
  font-weight: bold;
  font-size: 14px;
} */

/* 화살표 */
.accordion-title::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}

.accordion-title.open::before {
  content: "";
  border-top: 0;
  border-bottom: 5px solid;
}

.accordionContent {
  padding: 1em 1.5em 0.1rem 1.5em;
}

/* content 부분 */

.contentLine {
  margin-bottom: 24px;
}

.contentLineDesc {
  margin-bottom: 25px;
  line-height: 1.4rem;
}

.contentTitle {
  font-weight: bold;
}

.innerLine {
  margin-top: 5px;
  line-height: 1.2rem;
}
.innerLineFlex {
  display: flex;
  margin: 8px 0;
}

.dash {
  padding-right: 10px;
}

.innerLine a {
  text-decoration: underline;
  padding: 0 6px;
}

.underLine {
  text-decoration: underline;
  padding: 0 5px;
}

.components {
  width: 100%;
  margin-top: 10px;
}
