._header {
  position: fixed;
  z-index: 99;
}
._header ul {
  height: 100%;
  display: flex;
  align-items: center;
}

._header ul.menus {
  gap: 4rem;
}

._header ul.menus a {
  color: var(--mainBlue);
  font-weight: bolder;
  position: relative;
}

._header svg,
._header path {
  fill: var(--mainBlue);
}

._header ul.icons {
  gap: 2rem;
}

.menuUnder:after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 4px;
  left: 0px;
  z-index: -1;
  background: var(--mainOrange);
}
