._projects h1 {
  color: var(--mainBlue);
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 180px;
}
.itemContainer {
  padding: 0 180px;
  display: grid;
  margin-bottom: 30px;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.itemContainer .item {
  border: 1px solid gray;
  border-radius: 6px;
  height: 264px;
  display: grid;
  grid-template-rows: 75% 25%;
  /* background-color: rosybrown; */
}

.itemContainer .item:hover {
  cursor: pointer;
}

.itemContainer .item img {
  transition: transform 0.3s;
}

.itemContainer .item:hover img {
  transform: scale(1.1);
}

.itemBgContainer {
  height: 100%;
  overflow: hidden;
}

.itemBgContainer img {
  display: block;
  width: 100%;
  height: fit-content;
}

.ImgDescription {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 5px 10px;
  /* background-color: rosybrown; */
}

.ImgDescription p {
  display: flex;
  align-items: center;
}

.ImgDescription .title {
  font-weight: bold;
  color: var(--mainBlue);
}

.toyTitle {
  padding-top: 30px;
}
