._skill .twoSection,
._skill .oneSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  /* [질문clear] height 어떻게 해야할지-, padding으로 줬음 */
}

._skill .twoSection h1,
._skill .oneSection h1 {
  color: var(--mainBlue);
  font-weight: bolder;
  margin-bottom: 30px;
}

.sectionTitle {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.twoSection .lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.twoSection .lists .listTitle {
  font-weight: bold;
}

.twoSection .lists .list {
  display: flex;
  gap: 50px;
}

.possibilityBar {
  height: 5px;
  width: 400px;
  background-color: var(--mainOrange);
  margin-bottom: 10px;
}

.oneSection .skillBoxes {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.oneSection .skillBoxes a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  background-color: var(--mainBlue);
  color: white;
  line-height: 25px;
  border-radius: 10px;
}
